/* Property reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* The chart wrapper div styles. Flex and center to center the charts. */

.chart__wrapper {
	width: 100%;
	height: 600px;
	margin: 40px 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Chart div styles */

.div__chart {
	width: 95%;
	height: 100%;
}

/* Media querry for the width 100% when the width is less than 976px. */

@media screen and (min-width: 976px) {
	.container__graph {
		display: flex;
	}
}
